.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.name {
    display: inline;
    font-weight: 500;
    font-size: 1.4em;
}

.right {
    display: inline;
}

.button {
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
}